@model Capstone.Models.Genre

@{
    ViewData["Title"] = "Elimina Genere";
}


<div class="row min-heigth justify-content-center align-items-center py-4 p-md-0">     
    <div class="col-12">
      <div class="row bg-black py-5">

        <h1 class="text-center myText">Sicuro di voler eliminare <span class="text-danger fw-bolder">@Model.Name</span> dalla lista dei Generi?  </h1>
      
        <p class="text-center mt-4">
            <a href="@Url.Action("Delete", "Genre", new { id = Model.GenreId, confirm = true })" class="btn-danger myBtnCart mx-2">Elimina</a>
            <a href="@Url.Action("List", "Genre")" class="eventBtn mx-2">Annulla</a>
         </p>
      </div>
    </div>
</div>
      
