@{
    ViewBag.Title = "Order Confirmation";
}

<h2>Thank You!</h2>
<p>Your payment was successful. Your tickets are being processed and will be available soon.</p>
<a href="/Ticket/MyTickets">Vedi i biglietti</a>