@model IEnumerable<Capstone.Models.Location>

@{
    ViewBag.Title = "Locations";
}



<div class="row bg-black justify-content-center px-1 p-md-5">
    <div class="col-10 col-md-8 bg my-2">
        <h3 class="myText text-center mb-4">Locations</h3>

        <!-- Aggiungiamo un wrapper con overflow per la tabella -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-white" style="border-collapse: separate; border-spacing: 0 10px;">
                <thead class="thead-dark">
                    <tr style="border-bottom: 2px solid #666666;">
                        <th class="text-center" style="padding: 15px; border-color: #666666;">
                            <h4 class="fs-5">Nome Location</h4>
                        </th>
                        <th class="text-center" style="padding: 15px; border-color: #666666;">
                            <h4 class="fs-5">Indirizzo</h4>
                        </th>
                        <th class="text-center" style="padding: 15px; border-color: #666666;">
                            <h4 class="fs-5">Azioni</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var location in Model)
                    {
                        <tr class="bg-dark" style="border-radius: 15px; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); transition: all 0.3s ease;">
                            <td class="text-center text-white align-middle" style="padding: 20px 15px; border: none;">@location.LocationName</td>
                            <td class="text-center text-white align-middle" style="padding: 20px 15px; border: none;">@location.AddressGoogleApi</td>
                            <td class="text-center d-flex flex-column flex-md-row justify-content-center" style="padding: 15px; border: none;">
                                <a asp-action="Edit" asp-route-id="@location.LocationId" class="editBtn mx-1 btn btn-warning my-1 my-md-0">Modifica</a>
                                <a href="@Url.Action("Delete", "Location", new { id = location.LocationId })" class="btn-danger myBtnCart mx-1">Elimina</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="text-end">
            <a asp-action="Create" class="eventBtn mt-2">Crea Nuova Location</a>
        </div>
    </div>
</div>
