@model Capstone.Models.Dj

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="createDjForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="searchArtist" class="control-label">Search for Artist</label>
                <input type="text" id="searchArtist" class="form-control" placeholder="Type artist name" />
            </div>

            <div class="form-group">
                <label asp-for="ArtistName" class="control-label"></label>
                <input asp-for="ArtistName" id="artistName" class="form-control" />
                <span asp-validation-for="ArtistName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ArtistSpotifyId" class="control-label"></label>
                <input asp-for="ArtistSpotifyId" id="artistSpotifyId" class="form-control" />
                <span asp-validation-for="ArtistSpotifyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistDescription" class="control-label"></label>
                <input type="text" asp-for="ArtistDescription" class="form-control" />
                <span asp-validation-for="ArtistDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
    <div class="col-8">
        <!-- Search Results -->
        <ul id="searchResults" class="list-group"></ul>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

<script src="/js/dj_create.js"></script>