@model IEnumerable<Capstone.Models.Dj>

@{
    ViewData["Title"] = "DjList";
}

<div class="row bg-black py-4 px-1 p-md-5">
    @if (User.IsInRole("master") || User.IsInRole("admin"))
    {
    <div class="mb-4">
        <a asp-action="Create" class="editBtn">Crea artista</a>
    </div>
        
    }
    <h3 class="myTitle myText">I nostri artisti</h3>
    <div class="col-12 col-lg-6 my-4 ">
        <p class="text-white">Scopri i nostri DJ partner e lasciati trasportare dai migliori artisti della scena elettronica, house e techno. Dalle leggende internazionali ai talenti emergenti, i nostri DJ ti faranno vivere esperienze musicali uniche. Esplora i loro profili, segui i loro eventi e preparati per una serata indimenticabile!</p>
    </div>

    <div class="col-12 d-flex justify-content-center">
            <div class="row justify-content-center w-100">
            <div class="col-12 mt-2 mb-4 d-flex justify-content-center">
                <div class="col-10 col-md-6">
                    <input type="text" id="djSearch" placeholder="Cerca artista per nome..." class="form-control inputBar">
                    <div id="noResultsMessage" class="text-center text-white my-4 d-none">
                        Nessun artista trovato
                    </div>
                </div>
            </div>
                @foreach (var item in Model)
                {
                        <div class="col-6 col-md-4 col-lg-3 d-flex align-items-center  flex-column my-4 dj-item">
                            <a asp-action="Details" asp-route-id="@item.DjId"><img src="@item.Img" alt="Dj image" width="150px" height="150px" style="border-radius: 50%; object-fit: cover" /></a>
                        <h4 class="text-white mt-2">@item.ArtistName</h4>
                        </div>
                }
            </div>
    </div>
</div>


<script src="/js/dj_list.js"></script>