@model Capstone.Models.ViewModels.Auth.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    var genres = ViewBag.Genres as List<Genre>;
}

<h1>Register</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.PasswordHash" class="control-label"></label>
                <input asp-for="User.PasswordHash" class="form-control" />
                <span asp-validation-for="User.PasswordHash" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.Surname" class="control-label"></label>
                <input asp-for="User.Surname" class="form-control" />
                <span asp-validation-for="User.Surname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.BirthDate" class="control-label"></label>
                <input asp-for="User.BirthDate" class="form-control" />
                <span asp-validation-for="User.BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.Gender" class="control-label"></label>
                <select asp-for="User.Gender" class="form-control">
                    <option value="" selected disabled>Seleziona il genere</option>
                    <option value="uomo">Uomo</option>
                    <option value="donna">Donna</option>
                    <option value="altro">Altro</option>
                </select>
                <span asp-validation-for="User.Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.Country" class="control-label"></label>
                <input asp-for="User.Country" class="form-control" />
                <span asp-validation-for="User.Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.City" class="control-label"></label>
                <input asp-for="User.City" class="form-control" />
                <span asp-validation-for="User.City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.PostalCode" class="control-label"></label>
                <input asp-for="User.PostalCode" class="form-control" />
                <span asp-validation-for="User.PostalCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.PhoneNum" class="control-label"></label>
                <input asp-for="User.PhoneNum" class="form-control" />
                <span asp-validation-for="User.PhoneNum" class="text-danger"></span>
            </div>

            <div class="form-group d-flex flex-column my-3">
                <label asp-for="Img" class="control-label">Inserisci Immagine profilo:</label>
                <input asp-for="Img" type="file" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label mb-1">Inserisci generi musicali preferiti:</label>
                <div id="genresCheckboxes">
                    @foreach (var g in genres)
                    {
                        <div class="form-check">
                            <input type="checkbox"
                                   class="form-check-input"
                                   id="genre-@g.GenreId"
                                   name="SelectedGenres"
                                   value="@g.GenreId" />
                            <label class="form-check-label" for="genre-@g.GenreId">
                                @g.Name
                            </label>
                        </div>
                    }
                </div>
                <span asp-validation-for="SelectedGenres" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Registrati" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Hai un account? Vai al login</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
}
