body{
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    font-weight: 400;
}

.main-comment {
    margin-left: 0;
}

.reply-comment {
    margin-left: 30px;
    padding-left: 10px;
    border-left: 2px solid #ccc;
    background-color: #f9f9f9;
}

.parent-comment-preview {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px;
    padding-left: 10px;
    border-left: 2px dashed #ccc;
}


